node_modules
.next
out
build
dist

.env
.env.local
.env*.local

.DS_Store
*.log
*.pem
*.tsbuildinfo

.vercel
.turbo

coverage

# Supabase
supabase/.branches
supabase/.temp

# Drizzle
drizzle/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Local Netlify folder
.netlify
deno.lock
